$themePrimary: #bada55;
$themeSecondary: #bdbdbd;
$textPrimary: #262525;
$textSecondary: #474444;
$linkColor: blue;
$linkHoverColor: darken($linkColor, 20);
$verticalGutter: 20px;
$containerWidth: 1200px;

:root {
  --deckgo-highlight-code-carbon-margin: 0 0 40px 0;
}

/**
* Typography / Layout
*/
main {
  min-height: 100vh;
}

%asPrimaryText {
  color: $textPrimary !important;
  &:hover {
    color: darken($textPrimary, 20) !important;
  }
}
body {
  font-family: "Open Sans";
  font-size: 20px;
  line-height: 1.5em;
  color: $textPrimary;
}

* {
  box-sizing: border-box;
}

.mb-0 {
  margin-bottom: 0 !important;
}
.mb-1 {
  margin-bottom: 0.5rem;
}
.mb-2 {
  margin-bottom: 1rem;
}
.text-italic {
  font-style: italic;
}

p,
li,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.mb-3 {
  margin-bottom: 1.5rem;
}
.mb-4 {
  margin-bottom: 2rem;
}

.mb-5 {
  margin-bottom: 3.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 700;
  font-family: "Libre Baskerville";
  margin-bottom: 2rem;
}
b,
strong {
  font-weight: 700;
}

.h1,
h1 {
  font-size: 2rem;
  @media only screen and (min-width: 540px) {
    font-size: 2.5rem;
    line-height: 2.8rem;
  }
}

.h2,
h2 {
  font-size: 2.2rem;
  line-height: 1.2rem;
}
.h3,
h3 {
  font-size: 1.8rem;
}

.h4,
h4 {
  font-size: 1.6rem;
}
.h5,
h5 {
  font-size: 1.2rem;
}
.h6,
a {
  text-decoration: none;
  color: $linkColor;
  &:hover {
    color: $linkHoverColor;
  }
}

ul,
ol {
  margin-left: 40px;
  li {
    margin-bottom: 20px;
  }
}

ul {
  list-style-type: circle;
}
ol {
  list-style-type: decimal;
}

/**
* Begin custom styles
*/
.container {
  max-width: $containerWidth;

  @media only screen and (min-width: $containerWidth) {
    padding-left: 0;
    padding-right: 0;
  }
  margin: 0 auto;
  padding-top: $verticalGutter;
  padding-left: $verticalGutter;
  padding-right: $verticalGutter;
  display: flex;
  flex-direction: column;
}

#site-header {
  background: $themePrimary;
  margin-bottom: 40px;

  > div {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
  }

  a {
    @extend %asPrimaryText;
  }
  #logo {
    display: inline-block;
    margin-right: auto;
    text-transform: uppercase;
  }
  ul {
    margin: 0;
    padding: 0;
    margin-bottom: $verticalGutter;

    > li {
      display: inline;
      text-transform: uppercase;
      list-style-type: none;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
#site-footer {
  text-align: center;
  padding: $verticalGutter 0;
  background-color: $themeSecondary;
}

.IndexPage {
  section {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    article {
      padding: $verticalGutter;
      width: 100%;

      a {
        @extend %asPrimaryText;
      }
    }
  }
}

.blog-excerpt > header,
.BlogPost > header {
  width: 100%;
  h1 {
    font-style: italic;
  }
  time {
    color: $textSecondary;
  }
  border-bottom: 1px solid #ddd;
  margin-bottom: 3em;
  padding-bottom: 3em;
}
